# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# SUPABASE_URL: The URL of your Supabase project
SUPABASE_URL=https://mpcnfrshpgcpmrgledwy.supabase.co

# SUPABASE_ANON_KEY: The public anonymous API key for your Supabase project
SUPABASE_ANON_KEY=sb_publishable_IlSzuHbWowZ84IdxRwBCxg_DDT9P_Vz

# RAZORPAY_KEY_ID: Razorpay Merchant Key ID
RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID

# RAZORPAY_KEY_SECRET: Razorpay Merchant Key Secret
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_KEY_SECRET
